<ion-app>
  <ion-content fullscreen class="ion-padding" scroll-y="false">
    <ion-slides>

      <ion-slide>
        <div class="slide">
          <img src="../../assets/icon/logo.png" style="width:50%;height:auto;"/>
          <h2>Hallo</h2>
          <p><b>Siaput</b> adalah sistem untuk antar jemput siswa.</p>
        </div>
      </ion-slide>

      <ion-slide>
        <img src="../../assets/icon/x.jpeg" style="width:150%;height:auto;"/>
        <p>Pilih <b>Berangkat</b> untuk diantar ke sekolah.</p>
      </ion-slide>

      <ion-slide>
        <img src="../../assets/icon/y.jpeg" style="width:150%;height:auto;"/>
        <p>Pilih <b>Pulang</b> untuk dijemput pulang ke Rumah.</p>
      </ion-slide>

      <ion-slide>
        <img src="../../assets/icon/logo.png" style="width:50%;height:auto;"/>
        <h2>Siap Sekolah?</h2>
        <ion-button fill="clear" routerLink="/welcome">Lanjutkan <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
      </ion-slide>

    </ion-slides>
  </ion-content>
</ion-app>