ion-title{
    font-size: 32px;
    font-family: Roboto-medium;
}
.form-container {
    margin-left: 30px;
    margin-top: 20px;
    margin-right: 30px;
    ion-item{
        border-radius: 10px;
        border-color: rgb(201, 201, 201);
        border-width: 2px;
        border-style: solid;
        margin-bottom: 10px;
        width: 271px;
        height: 49px;
        align-items: center;
    }
    ion-item.iontext-center{
        text-align:center;
    }
    ion-label.ion-text-right{
        text-align: right;
    }
    ion-label{
        font-family: Roboto-reguler;
        font-size: 13;
        font-style: bold;
    }
    
}
.lupasandi{
    font-size: small;
    text-align:right;
}
ion-button {
    margin-top: 30px;
    height: 50px;
}
.sign-up {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto-reguler;
    font-size: 13;
    margin-top: 70px;
}