<ion-content>
  <div style="margin-left: 10px; margin-right: 10px;">
  <ion-toolbar>
    <ion-title style="padding-top: 30%;" color="primary">Halo!<br>
      Selamat Datang</ion-title>
  </ion-toolbar>
  <div class="form-container">
    <ion-label>
      E-mail
    </ion-label>
    <ion-item lines='none' class ="ion-text-center">
      <ion-input [(ngModel)] = 'email' ></ion-input>
    </ion-item>
    <ion-label>
      Kata Sandi
    </ion-label>
    <ion-item lines='none' class ="ion-text-center">
      <ion-input [(ngModel)] = 'password' type='password'></ion-input>
    </ion-item>
    <ion-label class ="lupasandi ion-text-right">
      <ion-router-link href="resetsandi">Lupa kata sandi?</ion-router-link>
    </ion-label>

    <ion-button expand="block" (click)="login()" routerLink="/menusupir">Masuk</ion-button>
</div>
</div>
</ion-content>
