<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="arrow-back-outline" size="small" (click)="back()" routerLink="/menusupir"></ion-icon>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-avatar>
    <img src="./assets/icon/supir.png">
  </ion-avatar>
<div linespace></div>
<ion-list>
  <ion-item>
    <ion-label>
    <p>Nama Supir:</p>
      <h3>Agus Rahman</h3>
    </ion-label>
  </ion-item>
    <ion-item>
      <ion-label>
        <p>No Kendaraan :</p>
        <h3>A 1234 BC</h3>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <p>No Hp:</p>
        <h3>081123212212</h3>
      </ion-label>
    </ion-item>
    <ion-button expand="block" color="danger" class="main-button" (click)="logout()" routerLink="/loginsupir">Keluar</ion-button>
</ion-list>
</ion-content>

