<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="arrow-back-outline" size="small" routerLink="/menuutama" ></ion-icon>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-label>
  <h2>Pesanan saat ini</h2>
</ion-label>

<ion-content color="">
  <div class="container">
  <ion-grid>
    <ion-row>
        <ion-card color="tertiary" text-center padding>
          <ion-icon name="reload-circle-sharp" size=""></ion-icon>
          <h2>Jalan Kusumanegara</h2>
        </ion-card>
    </ion-row>
  </ion-grid>
</div>
  
  <ion-label>
    <h2>Riwayat Order</h2>
  </ion-label>
  
  <div class="container">
    <ion-grid>
      <ion-row>
          <ion-card color="tertiary" text-center padding>
            <ion-icon name="checkmark-done-sharp"></ion-icon>
            <h2>Jalan Kusumanegara</h2>
          </ion-card>
          <ion-card color="danger" text-center padding >
            <ion-icon name="checkmark-done-sharp"></ion-icon>
            <h2>Jalan Kusumanegara</h2>
          </ion-card>
          <ion-card color="danger" text-center padding >
            <ion-icon name="checkmark-done-sharp"></ion-icon>
            <h2>Jalan Kusumanegara</h2>
          </ion-card>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>

