
ion-grid {
  margin-bottom: -10px;

  ion-card{
    width: 85%;
    height: 120px;
    margin-top: 5px;
    margin-right: 5px;
    border-radius: 15px;
 
  }
}

ion-label {
  h2 {
    margin-left: 30px;
    font-weight: bold;
    font-size: 18px;
  }
}
