
#map {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
 }
 
 .container {
     position: relative;
     width: 100% !important;
     height: 100% !important;
     justify-content: center;
 }
 

.modal {
    display: flex;
    height: 40%;
    align-items: flex-end;
    justify-content: center;

    * {
        font-family: 'Roboto-medium';
    }

    ion-card {
        width: 100%;
        
        border-radius: 0px;
    }

    ion-card-content {
        margin: 6px;
    }
}

.list {
    background-color: #F4F4F4;
    border-radius: 12px;
}

ion-item {
    --padding-start: 0;
    --background: transparent;
    padding: 0px 10px;
    border: none;
    border-radius: 12px;
    align-items: center;
}

ion-row {
    margin: 6px 0px;

    h3 {
        color: #1E57F1;
    }

}

.button {
    height: 40px;
}
