<ion-content>
  <div class="container">
    <div #map id="map"></div>
    <div class="modal">
      <ion-card>
        <ion-card-content>
          <div class="list">
            <ion-item>
              <ion-label>Dari : </ion-label>
              <ion-input [(ngModel)]="order.dari "></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Ke   : </ion-label>
              <ion-input [(ngModel)]="order.ke"></ion-input>
            </ion-item>
          </div>
  
          <div class="">
            <ion-grid class="ion-no-padding">
              <ion-row>
                <ion-col size="6">
                  <ion-button color="primary" expand="block"  routerLink="/cekjadwal">
                    <h5>Cek Jadwal</h5>
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
  
          <div class="">
            <ion-grid class="ion-no-padding">
              <ion-row>
                <ion-col size="6">
                  <ion-button color="primary" expand="block" (click)="konfirmasi()">
                    <h5>Konfirmasi</h5>
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
          
  
        </ion-card-content>
      </ion-card>
    </div>
  </div>
  </ion-content>
  