<ion-header>
  <ion-toolbar color="primary">
    <ion-row>
      <ion-col size="2"><ion-icon name="arrow-back" routerLink="/menupesan" ></ion-icon></ion-col>
      <ion-col style="text-align: center; padding: 10px;"><b>Jadwal</b></ion-col>
      <ion-col size="2">OK</ion-col>
    </ion-row>
    <ion-title>   </ion-title>
  </ion-toolbar>
</ion-header> 
<ion-content>
  <ion-card>
    <ion-row>
      <ion-col>Senin, 14 Januari 2021</ion-col>
      <ion-row><ion-col><ion-label>Tersedia</ion-label></ion-col></ion-row>
    </ion-row>
    <ion-row>
     <ion-col>06:00 WIB</ion-col>
   </ion-row>
   <ion-row>
     <ion-col>Agus Rahman</ion-col>
   </ion-row>
  </ion-card>
 <ion-card>
   <ion-row>
     <ion-col>Senin, 14 Januari 2021</ion-col>
     <ion-row><ion-col><ion-label color="danger">Penuh</ion-label></ion-col></ion-row>
   </ion-row>
   <ion-row>
    <ion-col>06:00 WIB</ion-col>
  </ion-row>
  <ion-row>
    <ion-col>Rahmat Agung</ion-col>
  </ion-row>
 </ion-card>
 <ion-card>
  <ion-row>
    <ion-col>Senin, 14 Januari 2021</ion-col>
    <ion-row><ion-col><ion-label color="danger">Penuh</ion-label></ion-col></ion-row>
  </ion-row>
  <ion-row>
   <ion-col>06:15 WIB</ion-col>
 </ion-row>
 <ion-row>
   <ion-col>Rahmat Agung</ion-col>
 </ion-row>
</ion-card>
<ion-card>
  <ion-row>
    <ion-col>Senin, 14 Januari 2021</ion-col>
    <ion-row><ion-col><ion-label>Tersedia</ion-label></ion-col></ion-row>
  </ion-row>
  <ion-row>
   <ion-col>06:15 WIB</ion-col>
 </ion-row>
 <ion-row>
   <ion-col>Ahmad Nurain</ion-col>
 </ion-row>
</ion-card>
<ion-card>
  <ion-row>
    <ion-col>Senin, 14 Januari 2021</ion-col>
    <ion-row><ion-col><ion-label>Tersedia</ion-label></ion-col></ion-row>
  </ion-row>
  <ion-row>
   <ion-col>06:30 WIB</ion-col>
 </ion-row>
 <ion-row>
   <ion-col>Asep Sutrisna</ion-col>
 </ion-row>
</ion-card>
</ion-content>