<ion-header>
  <ion-toolbar>
    <ion-row>
      <ion-col size="2"><ion-icon name="arrow-back" routerLink="/login"></ion-icon></ion-col>
      <ion-col style="text-align: center; padding: 10px;"><b>Reset Sandi</b></ion-col>
      <ion-col size="2"></ion-col>
    </ion-row>
    <ion-title>   </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="reset">
  <p>Masukkan email dan kami akan mengirimi Anda tautan untuk kembali ke akun Anda.</p>
  <div class="form-container">
    <ion-label   class="ion-text-left">
      E-mail
    </ion-label>
    <ion-item lines='none' class ="ion-text-center">
      <ion-input></ion-input>
    </ion-item>
</div>
<ion-button expand="block" color="primary" routerLink="/periksaemail">Kirim</ion-button>
</div>
</ion-content>
