<ion-header>
  <ion-toolbar color="primary">
    <ion-row>
      <ion-col size="2"><ion-icon name="arrow-back" routerLink="/menupesan" ></ion-icon></ion-col>
      <ion-col style="text-align: center; padding: 10px;"><b>Pesanan</b></ion-col>
    </ion-row>
    <ion-title>   </ion-title>
  </ion-toolbar>
</ion-header> 
<ion-content>
  <ion-card>
    <ion-row>
      <ion-col>Senin, 14 Januari 2021</ion-col>
    </ion-row>
    <ion-row>
     <ion-col>06:00 WIB</ion-col>
   </ion-row>
   <ion-row>
    <ion-col>Dari: </ion-col>
    <ion-input [(ngModel)]="dataPesanan.dari"></ion-input>
  </ion-row>
  <ion-row>
    <ion-col>Ke: </ion-col>
    <ion-input [(ngModel)]="dataPesanan.ke"></ion-input>
  </ion-row>
   <ion-row>
     <ion-col>Supir:Agus Rahman</ion-col>
   </ion-row>
   <ion-row>
    <ion-col>Total : Rp 10.000</ion-col>
  </ion-row>
  </ion-card>
  <div class="">
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col size="6">
          <ion-button color="primary" expand="block" (click)="pesan()">
            <h5>Pesan</h5>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>