.container {
    height: 80%;
    display: grid;
    justify-content: center;
    align-items: center;
}

.button-container {
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    font-family: Roboto-medium;
}
ion-label.ion-text-center{
    text-align: center;
    font-family: Roboto-medium;
}