<ion-content class="ion-padding ion-text-center">
  <div class="container">
    <div style="padding-top: 30px;">
      <ion-row class="ion-align-items-center">
        <ion-col class="ion-text-center">
          <img src="../../assets/icon/logo.png" style="width:50%;height:auto;"/>
        </ion-col>
      </ion-row>
</div>
 
    <div class="button-container">
      <ion-label class="ion-text-center">
        Masuk Sebagai
      </ion-label>
      <ion-button expand="block" class="ion-align-items-center main-button" routerLink="/login" routerDirection="forward">Orang Tua Siswa</ion-button>
      <ion-label class="ion-text-center">
        atau
      </ion-label>
      <ion-button expand="block" class="main-button" routerLink="/loginsupir" routerDirection="forward">Supir</ion-button>
    </div>
  </div>
</ion-content>
