#user {
    align-items: right ;
    font-size: 50px;
    margin-left: 100px;
}
.ion-text-center{
    text-align: center;
}
.menu {
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
.bayar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}