<ion-content color="primary">
  <ion-card>
    <ion-card-header>
      <ion-row>
        <ion-col>
          <ion-card-title>Halo, Zakki Pratama</ion-card-title>
          <ion-card-subtitle>Selamat Pagi</ion-card-subtitle>
        </ion-col>
        <ion-col>
          <ion-icon id="user" name="person-circle-outline" routerLink="/profile-user"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-card-header>
    <ion-card-content>
      <img src="../../assets/icon/kembalisekolah.png" style="width:200%;height:auto; margin-bottom: 10px; border-radius: 10px;"/>
    </ion-card-content>
  </ion-card>
  <ion-card style="width: auto; height: 100px;">
    <ion-row>
      <ion-col>
        <ion-card-content class="bayar" style="background-color: skyblue; height: 80px; width: auto; border-radius: 20px; margin-top: 5px;"></ion-card-content>
      </ion-col>
      <ion-col size="4">
        <ion-icon class="bayar" name="add-circle" style="font-size: 50px; margin-top: 20px;"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-card>
  
      <ion-row>
        <ion-col>
          <ion-card>
            <img class="menu" src="../../assets/icon/sekolah.png" routerLink="/menupesan" style="width:auto;height:100px;"/>
            <h4 class="ion-text-center">Berangkat</h4>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <img class="menu" src="../../assets/icon/rumah1.png" routerLink="/menupesan" style="width:auto;height:100px;"
            routerLink="/menupesan" routerDirection="forward" />
            <h4 class="ion-text-center">Pulang</h4>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
      <ion-col>
        <ion-card text-center padding>
          <h4 class="ion-text-center"><img src="../../assets/icon/riwayat.png" routerLink="/riwayat-pesanan" style="width:50px;height:auto;"/>Riwayat Perjalanan</h4>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-content>