<ion-header>
  <ion-toolbar>
    <ion-row>
      <ion-col size="2"><ion-icon name="arrow-back" routerLink="/menuutama"></ion-icon></ion-col>
      <ion-col style="text-align: center; padding: 10px;"><b>Profil</b></ion-col>
      <ion-col size="2"><ion-icon name="pencil" routerLink="/profile"></ion-icon></ion-col>
    </ion-row>
    <ion-title>   </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-icon id="user" name="person-circle-outline" routerLink="/profile"></ion-icon>
<ion-title style="text-align: center; font-size: 26px;">Zakki Pratama</ion-title>
<ion-title style="text-align: center; font-size: 12px;">+628129981723</ion-title>
<ion-title style="text-align: center; font-size: 12px;">Asep</ion-title>
  <ion-list>
    <ion-item>
      <ion-label>
      Akun
      </ion-label>
    </ion-item>
<ion-row>
  <ion-col size="2"><ion-icon class="atur" name="globe-sharp" size="small"></ion-icon></ion-col>
  <ion-col><ion-item><ion-label>Pilihan Bahasa</ion-label></ion-item></ion-col>
</ion-row>
<ion-row>
  <ion-col size="2"><ion-icon class="atur" name="help-circle-sharp" size="small"></ion-icon></ion-col>
  <ion-col><ion-item><ion-label>Bantuan</ion-label></ion-item></ion-col>
</ion-row>
<ion-row>
  <ion-col size="2"><ion-icon class="atur" name="settings-sharp" size="small"></ion-icon></ion-col>
  <ion-col><ion-item><ion-label>Pengaturan</ion-label></ion-item></ion-col>
</ion-row>
   <ion-item><ion-label>Info Lainnya</ion-label></ion-item>
    <ion-row>
      <ion-col size="2"><ion-icon class="atur" name="document-lock-sharp" size="small"></ion-icon></ion-col>
      <ion-col><ion-item><ion-label>Kebijakan Privasi Dan Layanan</ion-label></ion-item></ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="2"><ion-icon class="atur" name="star-sharp" size="small"></ion-icon></ion-col>
      <ion-col><ion-item><ion-label>Masukan</ion-label></ion-item></ion-col>
    </ion-row>

  <ion-button expand="block" color="danger" class="main-button" (click)="logout()">Keluar</ion-button>

</ion-list>
</ion-content>