ion-icon {
  font-size: 30px;
  --ionicon-stroke-width: 16px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.atur {
  font-size: 120px;
  --ionicon-stroke-width: 16px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  align-items: center;
  margin-top: 10px;
}
ion-item {
  font-style: bold;
  font-size: 15px;
}
  #user {
    font-size: 75px;
    margin-top: 10px;
    --ionicon-stroke-width: 16px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-family: Roboto-medium;
}
ion-button {
  margin-left: 20px;
  margin-right: 20px;
}