<ion-header>
  <ion-toolbar>
    <ion-row>
      <ion-col size="2"><ion-icon name="arrow-back" routerLink="/login"></ion-icon></ion-col>
      <ion-col style="text-align: center; padding: 10px;"><b>Atur Ulang Kata Sandi</b></ion-col>
      <ion-col size="2"></ion-col>
    </ion-row>
    <ion-title>   </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="sandibaru">
  <div class="form-container">
    <ion-label>
      Kata Sandi Baru
    </ion-label>
    <ion-item lines='none' class ="ion-text-center">
      <ion-input type='password'></ion-input>
    </ion-item>
    <ion-label>
      Konfirmasi Kata Sandi Baru
    </ion-label>
    <ion-item lines='none' class ="ion-text-center">
      <ion-input type='password'></ion-input>
    </ion-item>
</div>
<ion-button expand="block" color="primary" routerLink="/login">Simpan</ion-button>
</div>
</ion-content>
