ion-icon {
    font-size: 30px;
    --ionicon-stroke-width: 16px;
  }
.sandibaru {
    margin: 20px 40px 20px 40px;
    font-family: Roboto-medium;
    font-size: 13px;
}
.form-container {
    ion-item{
        border-radius: 10px;
        border-color: rgb(0, 0, 0);
        border-width: 1px;
        border-style: solid;
        margin-bottom: 10px;
        width: 271px;
        height: 49px;
    }
    ion-label.ion-text-right{
        text-align: right;
    }
    ion-label{
        font-style: bold;
        font: Roboto;
    }
    
}
ion-button {
    margin-top: 30px;
    height: 50px;
}
