<ion-content color="primary">
  <ion-card>
    <ion-card-header>
      <ion-item>
      <ion-row>
        <ion-col>
          <ion-card-title>Halo, Agus Rahman</ion-card-title>
        </ion-col>
        <ion-col>
          <ion-icon id="user" name="person-circle-outline" routerLink="/detail-supir"></ion-icon>
        </ion-col>
      </ion-row></ion-item>
      <ion-row>
        <ion-col>
          <ion-card-content class="bayar" style="background-color: skyblue; height: 80px; width: auto; border-radius: 20px; margin-top: 5px;"></ion-card-content>
        </ion-col>
        <ion-col size="2">
          <ion-icon class="bayar" name="add-circle" style="font-size: 40px; margin-top: 20px;"></ion-icon>
        </ion-col>
        <ion-col size="2">
          <ion-icon class="bayar" name="archive" style="font-size: 40px; margin-top: 20px;"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-card-header>
  </ion-card>
  <ion-row>
    <ion-col>
      <ion-card text-center padding>
        <ion-row>
          <ion-col>
            <img src="../../assets/icon/y.jpeg"  routerLink="/pesanan-supir" style="width:100px;height:auto;"/>
          </ion-col>
          <ion-col>
            <ion-label>Pesanan </ion-label>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-col>
  </ion-row>
    <ion-row>
      <ion-col>
        <ion-card text-center padding>
          <ion-row>
            <ion-col>
              <img src="../../assets/icon/ceksupir.jpeg" style="width:100px;height:auto;"/>
            </ion-col>
            <ion-col>
              <ion-label>Riwayat Pesanan</ion-label>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-content>
