#user {
    align-items: right ;
    font-size: 50px;
    margin-left: 100px;
}
.ion-text-center{
    text-align: center;
}
ion-label {
    margin-top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-style: bold;
    font-family: Roboto-Medium;
    font-size: large;
}