ion-icon {
    font-size: 30px;
    --ionicon-stroke-width: 16px;
    margin-left: 10px;
  }
p {
    margin: 20px 40px 20px 40px;
    font-family: Roboto-medium;
    font-size: 13px;
}
ion-button {
    margin-top: 30px;
    height: 50px;
}
.lain {
    margin: 70px 40px 20px 40px;
    font-family: Roboto-medium;
    font-size: 13px;
    text-align: center;
}