<ion-content>
  <div style="padding-top: 10%;">
    <ion-row class="ion-align-items-center">
      <ion-col class="ion-text-center">
        <img src="../../assets/icon/undraw_Mail_sent_re_0ofv.png" style="width:50%;height:auto;"/>
        <h5><strong>Periksa Email Anda</strong></h5>
        <p>Kami telah mengirimkan instruksi pemulihan kata sandi ke email Anda
        <ion-button expand="block" color="primary" routerLink="/sandibaru">Buka Email</ion-button><br>
        atau
        <ion-button expand="block" color="primary" routerLink="/login">Kembali ke Login</ion-button></p>
      </ion-col>
    </ion-row>
  </div>
  <div class="lain"> Tidak menerima email? Periksa filter spam anda atau <ion-router-link href="/resetsandi">coba alamat email lain</ion-router-link></div>
</ion-content>
