<ion-content class="ion-padding">
  <div class="ion-padding container">
    <h1>Daftar</h1>
    <br>Mohon isi beberapa data untuk
    <br>proses pendaftaran anda

    <div class="form-container">
      <ion-item>
        <ion-label position="floating">NIS</ion-label>
        <ion-input [(ngModel)]="data.nis"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Nama Siswa</ion-label>
        <ion-input [(ngModel)]="data.nama_siswa"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Nama Orangtua</ion-label>
        <ion-input [(ngModel)]="data.nama_orangtua"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Alamat</ion-label>
        <ion-input [(ngModel)]="data.alamat"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Nomor Handphone</ion-label>
        <ion-input [(ngModel)]="data.nomor_hp"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input [(ngModel)]="data.email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Kata Sandi</ion-label>
        <ion-input type="password" [(ngModel)]="data.password"></ion-input>
        <ion-icon name="eye" slot="end"></ion-icon>
      </ion-item>

      <ion-button expand="block" class="main-button" (click)="registrasi()">Daftar</ion-button>

      <div class="sign-up">
        Sudah punya akun?<ion-button color="dark" fill="clear" routerLink="/login" routerDirection="forward">Masuk</ion-button>
      </div>
    </div>
  </div>
</ion-content>